<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
		<%- include ../partials/head -%>
</head>
<body class="container">
	<header>
			<%- include ../partials/header -%>
	</header>

	<main>
		<section class="jumbotron">
			<h1>Arabic to Roman Conversion</h1>
			<form class="form-inline" id="conversionForm">
				<div class="form-group">
					<input type="text" class="form-control input-lg" id="arabicInput" placeholder="1234">
				</div>

				<h2 class="form-group" id="romanAnswer" style="font=serif"></h2>
			</form>

		</section>
	</main>

		<footer>
				<%- include ../partials/footer -%>
		</footer>
<script>
	var $arb = document.querySelector('#arabicInput');
	var $rom = document.querySelector('#romanAnswer');
	$arb.addEventListener('keyup', function(e){

		fetch(`/convert/${$arb.value}`)
			.then(function(response){
				return response.json();
			})
			.then(function(r){
				$rom.innerText = r.roman;
			})

	});

</script>
</body>
</html>
